  :root {
    --usc-yellow-100:rgb(255,204,0);
    --usc-red-70:rgb(173, 63, 72);
    --usc-red-100:rgb(153,27,30);
    --usc-red-200:rgb(138,24,27);
    --usc-red-300:rgb(122,22,24);
    --usc-red-400:rgb(107,19,21);
    --usc-test:rgb(0,78,255);

}
  /* Global styles */
  body {
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
    margin: 0;
  }



/* Chart container adjustments for responsiveness */
.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.chart {
  flex: 0 1 48%; /* Allows for 2 charts per row, with a little space between */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space between rows of charts */
  background: #fff;
  padding: 10px;
}

.chart-container {
  width: 100%;
  height: 400px; /* Fixed height, can be made responsive */
}
.chart-container, .charts {
  margin-top: 180px; /* Ensure there's enough space below the fixed header */
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  font: 12px sans-serif;
  background: white;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

/* Names container styles */
.names {
  display: flex;
  justify-content: space-around; /* Spread items horizontally */
  gap: 20px; /* Adjust the gap between names */
  margin-top: 20px; /* Add space between header and names */
}

.name {
  cursor: pointer;
  background-color: #FFCC00;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Button styles */
button {
  background-color: #990000;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
.footer {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  text-align: center; /* Center align the content */
  background-image: linear-gradient(90deg, var(--usc-yellow-100) 0%, var(--usc-red-100) 50%, var(--usc-red-100) 100%);
  color: white;
  display: grid !important; /* Use grid for layout */
  grid-template-columns: 33% 33% 33%; /* Define column widths */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Align items vertically */
  z-index: 10000; /* Set a z-index if necessary */
}

#footer_text {
  /* No need for flex properties */
}

img {
  /* No need for flex properties */
  max-width: 100%; /* Ensure image does not exceed container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 10rem;
}

