  /* Global styles */
  body {
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; /* Adjusted padding to fit the fixed header */
  }

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #990000; /* USC Red */
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 15px 0;
  z-index: 1000; /* Ensure header stays above other content */
  display: flex;
  flex-direction: column;
}

/* Chart container adjustments for responsiveness */
.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.chart {
  flex: 0 1 48%; /* Allows for 2 charts per row, with a little space between */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space between rows of charts */
  background: #fff;
  padding: 10px;
}

.chart-container {
  width: 100%;
  height: 400px; /* Fixed height, can be made responsive */
}
.chart-container, .charts {
  margin-top: 180px; /* Ensure there's enough space below the fixed header */
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  font: 12px sans-serif;
  background: white;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

/* Names container styles */
.names {
  display: flex;
  justify-content: space-around; /* Spread items horizontally */
  gap: 20px; /* Adjust the gap between names */
  margin-top: 20px; /* Add space between header and names */
}

.name {
  cursor: pointer;
  background-color: #FFCC00;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #990000;
  color: white;
  text-align: center;
}
/* Button styles */
button {
  background-color: #990000;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}